################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FrameworkDemo/bin/Debug
/FrameworkDemo/obj/Debug
